.footer {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    margin-top: 20%;
}

.socialMedia svg {
    color: white;
    font-size: 4rem;
    cursor: pointer;
}

p {
    color: #7c4b4b;
    display: flex;
    font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
    .footer svg {
        font-size: 3rem;
    }
    p {
        font-size: 1rem;
    }
    .footer {
        height: 17vh;
        padding-top: 5%;
        margin-top: 10%;
    }
}